.AboutUs{
	height:auto;
	width:100%;
	margin:10vh 0;
}
.leading_text_for_contact_us{
	height:20vh;
	padding: 5vh 10vw;
	margin-top:25vh;
	margin-left:50%;
	font-family: verdana;
	transform: translate(-50%,0);
	border-radius: 10px;
	box-shadow: 0 0 10px black;
	display: flex;
	justify-content: center;
	align-items: center;
}


@media(max-width:991px){
	.leading_text_for_about_us{
		width:90vw;
		padding:0;
	}
}